# =========================
# Python
# =========================
backend/.venv/
backend/__pycache__/
backend/**/*.py[cod]
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/

# =========================
# Environment
# =========================
.env
*.env

# =========================
# Uploaded Documents
# =========================
backend/app/uploads/
data/

# =========================
# Vector Database
# =========================
*.faiss
*.index
*.pkl
*.bin

# =========================
# SQLite
# =========================
*.db
*.sqlite3

# =========================
# Node
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Linux
# =========================
*~